<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0"/>
  </configSections>

  <connectionStrings>
    <add name="SessionsDevelopmentEnvironment" connectionString="Initial Catalog=AspState2005;User ID=SessionManagerUser;password=SessionManagerPassword;Data Source=SessionManagerDatabaseServer;" providerName="System.Data.SqlClient" />
    <add name="SessionsStagingEnvironment" connectionString="Initial Catalog=AspState2005;User ID=SessionManagerUser;password=SessionManagerPassword;Data Source=SessionManagerDatabaseServer;" providerName="System.Data.SqlClient" />
    <add name="SessionsLiveEnvironment" connectionString="Initial Catalog=AspState2005;User ID=SessionManagerUser;password=SessionManagerPassword;Data Source=SessionManagerDatabaseServer;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="false" />
    <globalization culture="en-GB" uiCulture="en-GB" />
  </system.web>

  <appSettings>
    <add key="CacheTimeout" value="20"/>
    <add key="Environment" value="Development"/>
  </appSettings>

  <cachingConfiguration defaultCacheManager="DefaultCacheManager">
    <backingStores>
      <add name="InMemoryBackingStore" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"/>
    </backingStores>
    <cacheManagers>
      <add name="DefaultCacheManager" expirationPollFrequencyInSeconds="1200" maximumElementsInCacheBeforeScavenging="2000" numberToRemoveWhenScavenging="500" backingStoreName="InMemoryBackingStore"/>
    </cacheManagers>
  </cachingConfiguration>

</configuration>
